@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}
*{
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}
.clearfix{
	&:after{
		content: '';
		clear: both;
		display: block;
		
	}
}
.row{
	margin: 10px 0;
}
.centre-phablet{
	display: none;
	@include breakpoint(phablet){
		width: 25%;
		float: left;
		height: 1px;
		display: block;
	}
	@include breakpoint(tablet){
		display: none;
	}
}
.portfolio{
	float: right;
	width: 100%;
	max-width: 695px;
	
}
.col-{
	border: 2px solid red;
	&phablet-{
		@include breakpoint(phablet){
			&1-2{
				width: 50%;
				background: green;
				float: left;
				&.empty{
					height: 1px;					
				}
			}
			&1-3{
				width: 33.33%;
				background: green;
				float: left;
			}
			&1-4{
				width: 25%;
				background: green;
				float: left;
			}
			
		}
	}
	&tablet-{
		@include breakpoint(tablet){
			&1-2{
				width: 50%;
				float: left;
				background: orange;
			}
			&1-4{
				width: 25%;
				&.fix{
					width: 200px;
				}
				&.pull-righ{
					float: right;
					
				}
			}
			&1-3{
				width: 33.33%;
				float: left;
			}
			&1-5{
				width: 20%;
				
			}
		}
	}
	
}