*{
	margin: 0;
	padding: 0;
	border: 0;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
 	}
.icon {
    background: url('/images/spriteico.png')center top no-repeat;
    display:inline-block;
}
.icon_fb{
	background-position: -26px -30px;
	width:17px;
	height: 23px;
}
.icon_vk{
	background-position: -76px -30px;
	width: 17px;
	height: 23px;
}
.icon_tw {
	background-position: -135px -29px;
	width: 10px;
	height: 23px;
}
.icon_house{
	background-position: -184px -31px;
	width: 70px;
	height: 61px;
}
.icon_zoom{
	background-position: -299px -31px;
	width: 56px;
	height: 56px;
}
.icon_radiator{
	background-position:  -393px -31px;
	width: 58px;
	height: 60px;
}
.icon_palitra{
	background-position:  -485px -31px;
	width: 63px;
	height: 60px;
}
.icon_solarbat{
	background-position: -591px -33px;
	width: 63px;
	height: 62px;
}
.icon_buildcar{
	background-position: -698px -33px;
	width: 80px;
	height: 72px;
}
.icon_p{
	background-position: -809px -25px;
	width: 23px;
	height: 32px;
}
.icon_pictext{
	background-position:  -882px -23px;
	width: 34px;
	height: 26px;
}
.icon_envelope{
	background-position: -965px -23px;
	width: 37px;
	height: 27px;
}
.icon_people{
	background-position: -1044px -29px;
	width: 50px;
	height: 41px;
}
.icon_check{
	background-position: -1129px -34px;
	width: 59px;
	height: 59px;
}
.icon_marker {
	background-position:  -1228px -34px;
	width: 60px;
	height: 97px;
}
