@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}
#map{
	height: 100vw;
	width: 100%;
	background: grey;
	
}
.map{
	position: relative;
	text-align: left;
}
.wraper__map{
	
}
.contacts{
	
	background: #76c327;
	padding: 20px 0 20px 0;
	position: relative;
	z-index: 2;
	.contacts__row{
		margin: 20px 0;
		.title{
		font-weight: bold;
		text-transform: uppercase;
		font-size: 19px;
		}
		.text{
			display: inline-block;
			font-size: 21px;
			color: white;
			span:first-child{
				color: black;
				font-size: 0.8em;
			}
			
		}
	}
	
	&:before{
		content:'';
		position:absolute;
		top:0;
		bottom: 0;
		background: #76c327;
		width:3000px;
		right:100%;	
	}
	
	
}
@include breakpoint (mobileonly){
	
	[class*="col-"]{
		padding: 0;
	}
}
@include breakpoint(phablet){
	.contacts{
		display: inline-block;
		padding: 20px 10px 20px 0;
		
	}
	.col-phablet-1-2.map{
		position: relative;
		margin-top: -570px;
		padding: 0;
	}
	#map{
		height: 750px;
	}
		
}
@include breakpoint(tablet){
	.contacts{
		padding: 45px 10px 45px 0;
		display: block;
	}
	.text{
		padding: 25px 0;
	}
}