@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}
.feature{
	height:75vh;
	overflow:hidden;
	background-size:cover;
    &:nth-child(even){
		.maintitle{
			background:#52a2f7;
		}
		.icon_wrapper{
			background-color:#52a2f7;
			border-radius:50%;
			width:50px;
			height:50px;
		}
    }
    &:nth-child(odd){
		.maintitle{
			background:#63bd12;
			}   
    }
	.maintitle{
		text-align:center;
		text-transform:uppercase;
		font-size: 30px;
		font-weight: bold;
		color:#fff;
		padding:20px 0;
		margin: 0 -20px;
	}
	.feature__icons{
		display: inline-block;
		vertical-align: bottom;
		text-align:center;
		a{
			text-decoration: none;
			color: black;	
		}
	}
	.icon{
		text-align:center;
		width:50px;
		height:50px;
		display:block;
	}
	.content{
    	text-align:center;
    	//margin-top: 30px;
		position: relative;
		p{
			padding:10px;
			text-align:justify;
			font-size:13px;
			padding-top: 30px;
			position:relative;
			z-index:2;
			&.short_0,&.short_1,&.short_2,&.short_3,&.short_4,&.short_5,{
				max-height: 100px;
				overflow: hidden;
			}	
			.details{
				display: none;
				position: relative;
				z-index: 2;
				//margin-top: -100px;
			}	
			.show,{
				display: block;
			}
			.hide{
				display: none
			}
	}
		.icon_wrapper{
			margin: 0 auto;
			background-color:#65b914;
			border-radius:50%;
			width:50px;
			height:50px;
		}
		.icon_text{
			width:61px;
			margin-top: 10px;
			display: inline-block;
		}
		span{
			text-transform:uppercase;
			font-size:12px;
		}
		.title{
			font-size:20px;
			padding:50px 0 20px 0 ;
		}
	
	}
}
#det_{
	&0{
		display: none;
		max-height: 500px;
	}
	&1{
		display: none;
		max-height: 500px;
	}
	&2{
		display: none;
		max-height: 500px;
	}
	&3{
		display: none;
	}
	&4{
		display: none;
	}
	&5{
		display: none;
	}
}

@include breakpoint(tablet){
    .feature{
        position:relative;
        overflow:hidden;
		height: 750px;
        &:before{
            content:'';
            position:absolute;
            top:-100%;
            bottom:-100%;
            box-sizing:content-box;
            padding-right: 100%;
            left:50%;
            width:50%;
            background:white;
            transform:rotate(5deg) translateX(0.2%);
            z-index:1;
        }
        &:nth-child(even){
            .maintitle{
                float:right;
            }
            .content{
                float:left;
                padding-top:40px;
                padding-right:100px;
            }
            &:before{
              right:50%;
              left:auto;
              padding-right:0;
              padding-left:100%;
              transform:rotate(-5deg) translateX(-.2%);
            }
        }
        &:nth-child(odd){
            .content{
                padding-top:40px;
                padding-left:100px;
            }
        }
        .title{
            padding-top:180px;
            font-size:31px;
            font-weight:bold;
        }
        .maintitle{
            position:relative;
            margin-top:45px;
            &:before{
                content:'';
                position:absolute;
                height:4px;
                background:#fff;
                top:0;
                width:3000px;
            }
        }
    }
    .feature_{
        &0{
            background: url(../images/bg-1.png);
            background-position:center;
            background-size:cover;
        }
        &1{
            background: url(../images/bg-2.png);
            background-position:center;
            background-size:cover;
        }
        &2{
            background: url(../images/bg-3.png);
            background-position:center;
            background-size:cover;
        }
        &3{
            background: url(../images/bg-4.png);
            background-position:center;
            background-size:cover;
        }
        &4{
            background: url(../images/bg-5.png);
            background-position:center;
            background-size:cover;
        }
        &5{
            background: url(../images/bg-6.png);
            background-position:center;
            background-size:cover;
        }  
    }
}