@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}
@font-face {
			font-family: "MyriadProRegular";
			src: url("../font/MyriadProRegular/MyriadProRegular.eot");
			src: url("../font/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
			url("../font/MyriadProRegular/MyriadProRegular.woff") format("woff"),
			url("../font/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

  @font-face {
      font-family: 'sansationbold';
      src: url('../font/sansation/sansation-bold-webfont.eot');
      src: url('../font/sansation/sansation-bold-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/sansation/sansation-bold-webfont.woff2') format('woff2'),
           url('../font/sansation/sansation-bold-webfont.woff') format('woff'),
           url('../font/sansation/sansation-bold-webfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'sansationregular';
      src: url('../font/sansation/sansation-regular-webfont.eot');
      src: url('../font/sansation/sansation-regular-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/sansation/sansation-regular-webfont.woff2') format('woff2'),
           url('../font/sansation/sansation-regular-webfont.woff') format('woff'),
           url('../font/sansation/sansation-regular-webfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

*{
	font-family: 'sansationregular';
	margin: 0;
	padding: 0;
	border: 0;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
 	}
 img{
 	max-width: 100%;
 }
body{
	overflow-x: hidden;
    font-family: 'sansationregular';
}
// start header top line
.header{
	text-align: center;
	padding: 20px 0;
	a{
		text-decoration:none;
	}
	img{
		margin-top: 20px;
	}
	.header_contacts{
		li{
			display:inline-block;
			margin-right:10px;
		}
		.phones{
			font-size: 26px;
			color:black;
			font-weight:bold;
			span:first-child{
				font-weight:normal;
				font-size:17px;
				color:#707070;
			}
		}	
		.adress{
			font-size:17px;
			color:#707070;
		}
	}
}
@media (min-width:800px){
	.put-right{
		float:right;
		display: inline-block;
		
	}
	.header{
		img{
			margin-top: 0;
		}
		.phones{
			padding: 0 25px 0 0;
		}
	}
}
// End header top line
.section{
	padding:50px 0 50px 0;
	&_promotion{
		overflow: hidden;
		margin-bottom: -12px;
		&.bottom{
			margin-top: 12px;
		}
		
	}
}
.section_grey{
	padding:30px 0 30px 0;
	background-color: #ededed;
	overflow: hidden;
}	
.title{
 text-align:center;
  text-transform:uppercase;
  font-size:41px;
  font-weight:bold;
  span{
    color:red;
  }
}	
.input{
  width: 287px;
  height: 50px;
  font-size: 22px;
  padding-left: 18px;
  margin-right: 45px;
  color: #c0c0c0;
}
.pool_title{

}
.checkbox input:before {
  content: '';
  background: #fff;
  display: block;
  width: 10px;
  height: 10px;
}
::-webkit-input-placeholder { /* Chrome */
  color: #c0c0c0;
}	
//Start cols with advantages
.advantages{
	vertical-align: bottom;
	padding-bottom: 10px;
	max-width:100%;
	@include breakpoint(phablet){
		height:130px;
	}
}
.advantages-title-num{
	display:block;
	color:#4b9bf0;
	font-size:78px;
	font-weight:bold;
}
.advantages-title{
	display:inline-block;
	color:black;
	text-transform: uppercase;
	font-size:26px;
	line-height: 1.7em;
	font-weight:bold;
}
.advanatges-cpo{
	font-size:72px;
	color:#4b9bf0;
	text-transform: uppercase;
	font-weight:bold;
	@include breakpoint(phablet){
		padding-top: 36px;
	}
}
.advantages-customer{
	font-size: 58px;
	color:#4b9bf0;
	font-weight:bold;
}
.years{
	font-weight:bold;
	display:inline-block;
	position:relative;
	span:first-child{
		font-size:112px;
		color:#f52556;
		
	}
	span:nth-child(2){
		position:absolute;
		top:55%;
		right:-45%; 
	}
}
.advantages-text{
	border-top: 1px solid #929292;
	padding-top:10px;
	color:#929292;
	font-size:18px;
	font-style:none;
}
@media (min-width:600px){
	.years{
		span:first-child{
		font-size:100.8px;
		}
		span:nth-child(2) {
    position: absolute;
    top: 55%;
    right: -46%;
  	}
	}
	.advantages-title-num{
		font-size:70.2px;
	}
	.advantages-title{
		font-size:23.4px;
	}
}
@media (min-width:800){
	.years{
		span:first-child{
		font-size:89.6px;
		}
	}
	.advantages-title-num{
		font-size:62.4px;
	}
	.advantages-title{
		font-size:20.8px;
	}
}
@media (min-width:851px) and (max-width:930px){
	.years{
		span:first-child{
		font-size:100.8px;
		}
	}
	.advantages-title-num{
		font-size:70.2px;
	}
	.advantages-title{
		font-size:23.4px;
	}
}
//End of advantages
//Start of header menu
.header-menu{
	display:block;
	text-align:center;
	li{
		list-style: none;
		display:inline-block;
		text-align: center;
		width:200px;
		vertical-align:top;
		margin-right: 15px;
		margin-top:15px;
		@include breakpoint(phablet){
			width:130px;
			max-width:200px;
		}
	}
	a{
		text-decoration: none;
		display:inline-block;
		text-align:center;
		color:black;		
	}
	li>a>span:first-child{
		height:80px;
	}
}
.menu-title{
	font-size:13px;
	text-transform:uppercase;
	margin-top:35px;
}
//End of header menu
.application{
	text-align:center;
	vertical-align:middle;
}
input{
		width:100%;
		margin-top:15px;
		margin-right:20px;
		border: 1px solid #cfcfcf;
		font-size:22px;
		padding:15px 51px 10px 15px;
}
.mainpicture{
	background:url('/images/header_picture.jpg');
	background-size:cover;
	position:relative;
	text-align:center;
	padding: 30px 0 30px 20px;
	min-height: 100vh;
	display:flex;
	justify-content:center;
	align-items:flex-end;
	img{
		width:100%;
		margin: 0 auto;
	}
}
.buttons{
	// margin:auto;
	font-size:0px;
	@include breakpoint(phablet){
	  // position: absolute;
    // margin: -102px -280px 0px 0;
    // top: 83%;
    // right: 50%;
    font-size: 0px;
	}
}
.buttons-social{
	display: inline-block;
  height: 37px;
  width: 37px;
  border-radius: 20px;
  margin-top:10px;
  padding: 8px;
  margin-right:10px;
  background:#fff;
  margin-top: 9px;
  }
.btn{
	color:#fff;
	display:block;
	padding: 20px;
	background: #76c327;
	text-transform:uppercase;
	text-decoration: none;
	&-send{
		font-size:24px;
		margin-top:40px;
		width: 100%;
	}
	&-portfolio{
		min-width:280px;
		margin-top:10px;
		font-size:31px;
		padding:20px;
		display:inline-block;
		background:#4b9bf0;
	}
	&-services{
		min-width:280px;
		margin-top: 10px;
		font-size:31px;
		padding:20px;
		display:inline-block;
		background:#f52556;
	}
}
@media (min-width:800px){
	.btn-send{
		margin-left: auto;
		margin-right:auto;
		margin: 0px;
	}
}
.portfolio_block{
	padding-top:50px;
	text-align:center;
	display:block;
	width:100%;
	background:url('/images/portfolio.jpg');
	background-size:cover;
	min-height:100vh;
	background-repeat: repeat-y;
	img{
		margin-bottom: 20px;
	}
}
.title{
	font-weight:bold;
	text-align:center;
	color:black;
	font-size: 41px;
	text-transform:uppercase;
	&_portfolio{
		color:#fff;
		font-size: 41px;
		text-transform:uppercase;
	}
	span{
		color:black;
	}
	span:nth-child(2){
		color:#f52556;
	}
}
.orders{
	text-align:center;
}
.check_icon{
	display:inline-block;
	float: left;
	background:#a3ec58;
	padding:15px;
}