@font-face {
<<<<<<< HEAD
			font-family: "MyriadProRegular";
			src: url("../font/MyriadProRegular/MyriadProRegular.eot");
			src: url("../font/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
			url("../font/MyriadProRegular/MyriadProRegular.woff") format("woff"),
			url("../font/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

  @font-face {
      font-family: 'sansationbold';
      src: url('../font/sansation/sansation-bold-webfont.eot');
      src: url('../font/sansation/sansation-bold-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/sansation/sansation-bold-webfont.woff2') format('woff2'),
           url('../font/sansation/sansation-bold-webfont.woff') format('woff'),
           url('../font/sansation/sansation-bold-webfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'sansationregular';
      src: url('../font/sansation/sansation-regular-webfont.eot');
      src: url('../font/sansation/sansation-regular-webfont.eot?#iefix') format('embedded-opentype'),
           url('../font/sansation/sansation-regular-webfont.woff2') format('woff2'),
           url('../font/sansation/sansation-regular-webfont.woff') format('woff'),
           url('../font/sansation/sansation-regular-webfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

body{
  font-family: 'sansationregular';
=======
	font-family: 'Sansation-Regular';
	src: url('../fonts/Sansation-Regular.eot');
	src: url('../fonts/Sansation-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Sansation-Regular.woff') format('woff'),
		url('../fonts/Sansation-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
>>>>>>> fd00285a6be40fe70b9463ed5ec45cf671e5173b
}

.btn{
  font-family: "MyriadProRegular";
	height: 70px;
	width: 280px;
	font-size: 31px;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	color: #fff;
	line-height: 70px;
}
.btn-services{
	background: #4b9bf0;
}

.btn-portfolio{
	background: #f52556;
}

.btn-application{
	background: #76c327;
	font-size: 24px;
}

input{
  width: 287px;
  height: 50px;
  font-size: 22px;
  padding-left: 18px;
  margin-right: 45px;
  color: #c0c0c0;
}

::-webkit-input-placeholder { /* Chrome */
  color: #c0c0c0;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c0c0c0;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c0c0c0;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #c0c0c0;
  opacity: 1;
}
*{
	margin: 0;
	padding: 0;
	border: 0;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
 	}
.icon {
    background: url('/images/spriteico.png') no-repeat;
    display: inline-block;
}
.icon_fb{
	background-position: -26px -30px;
	width: 14px;
	height: 21px;
}
.icon_vk{
	background-position: -76px -30px;
	width: 17px;
	height: 21px;
}
.icon_tw {
	background-position: -135px -29px;
	width: 10px;
	height: 23px;
}
.icon_house{
	background-position: -184px -31px;
	width: 70px;
	height: 61px;
}
.icon_zoom{
	background-position: -299px -31px;
	width: 56px;
	height: 56px;
}
.icon_radiator{
	background-position:  -393px -31px;
	width: 58px;
	height: 60px;
}
.icon_palitra{
	background-position:  -485px -31px;
	width: 63px;
	height: 60px;
}
.icon_solarbat{
	background-position: -591px -33px;
	width: 63px;
	height: 62px;
}
.icon_buildcar{
	background-position: -698px -33px;
	width: 80px;
	height: 72px;
}
.icon_p{
	background-position: -891px -34px;
	width: 23px;
	height: 32px;
}
.icon_pictext{
	background-position:  -971px -34px;
	width: 34px;
	height: 26px;
}
.icon_envelope{
	background-position: -971px -34px;
	width: 37px;
	height: 27px;
}
.icon_people{
	background-position: -1044px -32px;
	width: 50px;
	height: 41px;
}
.icon_check{
	background-position: -1129px -34px;
	width: 59px;
	height: 59px;
}
.icon_marker {
	background-position:  -1228px -34px;
	width: 60px;
	height: 97px;
}
.phones{
	font-size: 26px;
	span:first-child{
		font-size:17px;
		color:#707070;
	}
}	
.adress{
	font-size:17px;
	color:#707070;
}
.section{
	padding:50px 0 50px 0;
}
.section_grey{
	padding:30px 0 30px 0;
	background-color: #ededed;
}	
.title{
 text-align:center;
  text-transform:uppercase;
  font-size:41px;
  font-weight:bold;
  span{
    color:red;
  }
}	
<<<<<<< HEAD
=======
.input{
  width: 287px;
  height: 50px;
  font-size: 22px;
  padding-left: 18px;
  margin-right: 45px;
  color: #c0c0c0;
}
.pool_title{

}
.checkbox input:before {
  content: '';
  background: #fff;
  display: block;
  width: 10px;
  height: 10px;
}
::-webkit-input-placeholder { /* Chrome */
  color: #c0c0c0;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c0c0c0;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c0c0c0;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #c0c0c0;
  opacity: 1;
}
>>>>>>> fd00285a6be40fe70b9463ed5ec45cf671e5173b
