#map {
  height: 100vw;
  width: 100%;
  background: grey; }

.map {
  position: relative;
  text-align: left; }

.contacts {
  background: #76c327;
  padding: 20px 0 20px 0;
  position: relative;
  z-index: 2; }
  .contacts .contacts__row {
    margin: 20px 0; }
    .contacts .contacts__row .title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 19px; }
    .contacts .contacts__row .text {
      display: inline-block;
      font-size: 21px;
      color: white; }
      .contacts .contacts__row .text span:first-child {
        color: black;
        font-size: 0.8em; }
  .contacts:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    background: #76c327;
    width: 3000px;
    right: 100%; }

@media (min-width: 37.5em) {
  .contacts {
    display: inline-block;
    padding: 20px 10px 20px 0; }
  .col-phablet-1-2.map {
    position: relative;
    margin-top: -570px; }
  #map {
    height: 750px; } }

@media (min-width: 50em) {
  .contacts {
    padding: 45px 10px 45px 0;
    display: block; }
  .text {
    padding: 25px 0; } }
