doctype
html
  head
    title apriori
    meta(charset="utf8")
    meta(name='viewport' content ='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='css/style.css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    
  body
      .wrapper.clearfix
        .buttons
          a.btn.btn-services(href="")  услуги
          a.btn.btn-portfolio(href="") портфолио
        form
          input(type="text" placeholder="Имя..." autofocus maxlength="20")      
          input(type="tel" pattern="\(\d\d\d\) ?\d\d\d-\d\d-\d\d" placeholder="Телефон...")
          a.btn.btn-application(href="")  оставить заявку
