title Apriori
meta(charset='utf-8')
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
link(rel='stylesheet', href='css/style.css')
link(rel='stylesheet', href="css/grid.css")
link(rel='stylesheet', href="css/icons.css")
link(rel='stylesheet', href="css/forms.css")
link(rel='stylesheet', href="css/sale.css")
link(rel='stylesheet', href='css/map.css')
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css")
//for jquery
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
//for fansybox JS
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js")
//script(src='js/*.js') 
link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
script(src="js/script.js")
script(src="js/scroll.js")