-
	var menu=
	[		
		{
			icon: 'icon_house',
			text: 'ПРОЕКТИРОВАНИЕ',
			href: '#'
		},
		{
			icon: 'icon_zoom',
			text: 'Обследование',
			href: '#2'
		},
		{
			icon: 'icon_radiator',
			text: 'Тепловизионное Обследование',
			href: '#2'
		},
		{
			icon: 'icon_palitra',
			text: 'Дизайн проекты',
			href: '#3'
		},
		{
			icon: 'icon_solarbat',
			text: 'Солнечные батареи',
			href: '#'
		},
		{
			icon: 'icon_buildcar',
			text: 'Строительство',
			href: '#'
		},
	]
ul
	each item in menu
		li 
			a(href="#")
				span.icon(class=item.icon)
				br 
				span.menu-title #{item.text}
