doctype
html
	head
		link(href='css/style.css', rel='stylesheet')
	body
		.icons
			.icon_fb
				a(href='#')
			.icon_vk
				a(href='#')
			.icon_tw
				a(href='#')
			.icon_designing
				a(href='#')
			.icon_investigation
				a(href='#')
			.icon_thermal
				a(href='#')
			.icon_design
				a(href='#')
			.icon_solar
				a(href='#')
			.icon_construction
				a(href='#')
			.icon_price
				a(href='#')
			.icon_articles
				a(href='#')
			.icon_order
				a(href='#')
			.icon_reviews
				a(href='#')
			.icon_check
				a(href='#')
			.icon_marker
				a(href='#')
			