doctype 
html
	head
	body
		pool_title Тип вашего обьекта
		form
			label(class="")
				input(type="radio")
				| Жылой дом
			label(class="")
				input(type="radio")
				| Общественное здание
			label(class="	")
				input(type="radio")
				| Сооружение
		pool_title Параметры
		form
			label(class="checkbox-inline")
				input(type="number"  name="")
				|Площадь
			label(class="checkbox-inline")
				input(type="number"  name="")
				|Етаж
			label(class="checkbox-inline")
				input(type="number"  name="")
				|Высота этажа
		pool_title Параметры проектирования
		form
			label(class="checkbox-inline")
				input(type="checkbox" value="")
				|Новое строительство
			label(class="checkbox-inline")
				input(type="checkbox" value="")
				|Реконструкция
			label(class="checkbox-inline")
				input(type="text" autofocus maxlength="20" value="")
				|Иное
		pool_title Состав проектирования
		form
			label(class="checkbox-inline")
				input(type="number" autofocus maxlength="20" value="")
				| Этаж 
			label(class="checkbox-inline")
				input(type="number" value="")
				| АР.
		pool_title Иные требования:
		form
			label(class="checkbox-inline")
				input(type="text" autofocus maxlength="140" value="")
		form
			input(type="text" placeholder="Имя..." autofocus maxlength="20")
			input(type="tel" pattern="\(\d\d\d\) ?\d\d\d-\d\d-\d\d" placeholder="Телефон...")
			a.btn.btn-application(href="") оставить заявку