doctype 
html
	head
	body
		
		form
			.row.clearfix
				.form__title тип вашего обьекта:<br>
				.line
				.col-phablet-1-3
				label(class="build-obj")
					input(class="radio-button" type="radio" name="build-obj" value="house")
					span(class="check")
					| Жылой дом
				.col-phablet-1-3
				label(class="build-obj")
					input(class="radio-button" type="radio" name="build-obj" value="public_build")
					span(class="check")
					| Общественное здание
				.col-phablet-1-3
				label(class="build-obj")
					input(class="radio-button" type="radio" name="build-obj" value="сonstruction")
					span(class="check")
					| Сооружение<br>
			.form__title Параметры:
			.line
			<br>
			label(class="parameters")
				| Площадь
				input(type="number" maxlenght="3")
			label(class="parameters")
				| Этаж
				input(type="number" maxlenght="2")
			label(class="parameters")
				| Высота этажа
				input(type="number" maxlenght="2")
				<br>
			.form__title Параметры проектирования:<br>
			.line
			label(class="parameters-projecting")
				input(class="radio-button" type="radio" name="parameters-projecting" value="new-building")
				span(class="check")
				| Новое строительство
			label(class="parameters-projecting")
				input(class="radio-button" type="radio" name="parameters-projecting" value="reconstruction")
				span(class="check")
				| Реконструкция
			label(class="parameters-projecting")
				| Иное
				input(type="text" maxlenght="20")
				<br>
			.form__title Состав проектирования:
			.line
			<br>
			label(class="content-projecting")
				input(class="radio-button" type="radio" name="content-projecting" value="floor")
				span(class="check")
				| Этаж
			label(class="content-projecting")
				input(class="radio-button" type="radio" name="content-projecting" value="AR")
				span(class="check")
				| АР.<br>
			.form__title Иные требования:<br>
			label(class=)
				textarea(class="another-requirements")

				input(type="text" name="name" placeholder="Имя...")
				input(type="text" name="phone" placeholder="Телефон...")
				button.btn.btn-send(type='submit') Оставить заявку