doctype 
html
	head
	body
		pool-title Тип вашего обьекта
		form
			label(class="checkbox-inline")
				input(type="checkbox" value="")
				| Жылой дом
			label(class="checkbox-inline")
				input(type="checkbox" value="")
				| Общественное здание
			label(class="checkbox-inline")
				input(type="checkbox" value="")
				| Сооружение
		pool-title Параметры
		form
			label(class="checkbox-inline")
				input(type="number" autofocus maxlength="4" name="")
				|Площадь
			label(class="checkbox-inline")
				input(type="number" autofocus maxlength="2" name="")
				|Етаж
			label(class="checkbox-inline")
				input(type="number" autofocus maxlength="2" name="")
				|Высота этажа
		pool-title Параметры проектирования
		form
			label(class="checkbox-inline")
				input(type="checkbox" value="")
				|Новое строительство
			label(class="checkbox-inline")
				input(type="checkbox" value="")
				|Реконструкция
			label(class="checkbox-inline")
				input(type="text" autofocus maxlength="20" value="")
				|Иное
		pool-title Состав проектирования
		form
			label(class="checkbox-inline")
				input(type="number" autofocus maxlength="20" value="")
				| Этаж 
			label(class="checkbox-inline")
				input(type="number" value="")
				| АР.
		pool-title Иные требования:
		form
			label(class="checkbox-inline")
				input(type="text" autofocus maxlength="140" value="")


