doctype 
html
	head
	body
		h1 Опросний лист
		p Тип вашего обьекта
		form
			label(class="checkbox-inline")
				input(type="checkbox" value="")
				| Жылой дом
			label(class="checkbox-inline")
				input(type="checkbox" value="")
				| Общественное здание
			label(class="checkbox-inline")
				input(type="checkbox" value="")
				| Сооружение
		p Параметры
		form
			input(type="text" name="firstname")
