doctype 
html
	head
		include ./parts/head.pug
	body
		.wrapper
			.section.header
			img(src="images/apriory_logo.jpg")
			a.phones(href="tel:3512235317")
				span (351) 
				span 223-53-17
			a.phones(href="tel:3512235316")
				span (351)
				span 223-53-16	
			span.adress г. Челябинск,ул. 
				|Российская 224
		.mainpicture
		.wrapper
			.row.clearfix
				.col-phablet-1-2.col-tablet-1-3
					.advantages-wrap
						.advantages
							span.advantages-title
								span.advantages-title-num
									|1000
								span.advantages-title
									|проектов за 
							.years
									span 7 
									span.advantages-title
										|лет!
						.advantages-text
							span Более 1000 проектов за 7 лет по всей России и СНГ
				.col-phablet-1-2.col-tablet-1-3 
					.advantages.advantages_cpo
						span.advantages-title Допуск 
						span.advanatges-cpo СРО
					.advantages-text
						span Имеется допуск генерального проектировщика СРО на работы по проектированию и обследованию. Ответственность компании застрахована на 10 000 000 руб.
				.col-phablet-1-4.show-phablet
				.col-phablet-1-2.col-tablet-1-3 
					.advantages
						span.advantages-customer
							|крупные
						span.advantages-title заказчики
					.advantages-text
						span Сбербанк, РЖД, Банки, правительственные структуры.
		.row.clearfix
			.col-phablet-1-2.col-tablet-1-3 Імя
			.col-phablet-1-2.col-tablet-1-3 Телефон
			.col-phablet-1-4
			.col-phablet-1-2.col-tablet-1-3 Оставіть заявку
		.wrapper
			.row.clearfix
				.col-phablet-1-2.col-tablet-1-5
					a(href="#")
						img(src="../images/logocreator.jpg")
				.col-phablet-1-2.col-tablet-1-5 
					a(href="#")
						img(src="../images/filmstyle.jpg")
				.col-phablet-1-2.col-tablet-1-5
					a(href="#")
						img(src="../images/eve_online.jpg")
				.col-phablet-1-2.col-tablet-1-5
					a(href="#")
						img(src="../images/fashion.jpg")
				.col-phablet-1-4.show-phablet
				.col-phablet-1-2.col-tablet-1-5
				  a(href="#")
            img(src="../images/intalk.jpg")
		.row.clearfix
			.col-phablet-1-3 Жилой дом
			.col-phablet-1-3 Обществинное здание
			.col-phablet-1-3 сооружение
		.row.clearfix
			.col-phablet-1-2 Проектирование
			.col-phablet-1-2 Контент іконок
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4 Прайс
					.col-phablet-1-2.col-tablet-1-4 Статьї
					.col-phablet-1-2.col-tablet-1-4 Закази
					.col-phablet-1-2.col-tablet-1-4 Отзиви
		.row.clearfix
			.col-phablet-1-2 Контент Іконок
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4 Прайс
					.col-phablet-1-2.col-tablet-1-4 Статьї
					.col-phablet-1-2.col-tablet-1-4 Закази
					.col-phablet-1-2.col-tablet-1-4 Отзиви	
			.col-phablet-1-2 Обследувание
		.row.clearfix
			.col-phablet-1-2 Проекти планировок
			.col-phablet-1-2 Контент іконок
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4 Прайс
					.col-phablet-1-2.col-tablet-1-4 Статьї
					.col-phablet-1-2.col-tablet-1-4 Закази
					.col-phablet-1-2.col-tablet-1-4 Отзиви		
		.row.clearfix
			.col-phablet-1-2 Контент Іконок
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4 Прайс
					.col-phablet-1-2.col-tablet-1-4 Статьї
					.col-phablet-1-2.col-tablet-1-4 Закази
					.col-phablet-1-2.col-tablet-1-4 Отзиви	
			.col-phablet-1-2 Дизайн проекти	
		.row.clearfix
			.col-phablet-1-2 Проекти планировок територии
			.col-phablet-1-2 Контент іконок
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4 Прайс
					.col-phablet-1-2.col-tablet-1-4 Статьї
					.col-phablet-1-2.col-tablet-1-4 Закази
					.col-phablet-1-2.col-tablet-1-4 Отзиви	
		.row.clearfix
			.col-phablet-1-2 Контент Іконок
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4 Прайс
					.col-phablet-1-2.col-tablet-1-4 Статьї
					.col-phablet-1-2.col-tablet-1-4 Закази
					.col-phablet-1-2.col-tablet-1-4 Отзиви	
			.col-phablet-1-2 Строительство
		.portfolio
			.row.clearfix
				.col-phablet-1-2.col-tablet-1-3 portfolio 
				.col-phablet-1-2.col-tablet-1-3 portfolio
				.col-phablet-1-2.col-tablet-1-3 portfolio
				.col-phablet-1-2.col-tablet-1-3 portfolio
				.col-phablet-1-2.col-tablet-1-3 portfolio
				.col-phablet-1-2.col-tablet-1-3 portfolio
		.clearfix
		.row.clearfix
			.col-phablet-1-2.col-tablet-1-5 logo заказчиків 
			.col-phablet-1-2.col-tablet-1-5 logo заказчиків
			.col-phablet-1-2.col-tablet-1-5 logo заказчиків
			.col-phablet-1-2.col-tablet-1-5 logo заказчиків
			.col-phablet-1-4.show-phablet
			.col-phablet-1-2.col-tablet-1-5 logo заказчиків	
		.row.clearfix
			.col-phablet-1-3 Жилой дом
			.col-phablet-1-3 Общестивиное здание
			.col-phablet-1-3 Соорожение
		.row.clearfix
			.col-phablet-1-3 Площадь
			.col-phablet-1-3 Етаж
			.col-phablet-1-3 Висота етажа
		.row.clearfix
			.col-phablet-1-2.col-tablet-1-3 Імя
			.col-phablet-1-2.col-tablet-1-3 Телефон
			.col-phablet-1-4
			.col-phablet-1-2.col-tablet-1-3 Оставіть заявку
		.row.clearfix
			.col-phablet-1-2 гарантии качестинной роботи
			.col-phablet-1-2 гарантии качестинной роботи
		.row.clearfix
			.col-phablet-1-2.col-tablet-1-3 Імя
			.col-phablet-1-2.col-tablet-1-3 Телефон
			.col-phablet-1-4
			.col-phablet-1-2.col-tablet-1-3 Оставіть заявкуу
		.row.clearfix
				.col-phablet-1-2 гарантии качестинной роботи
				.col-phablet-1-2 гарантии качестинной роботи
		.wraper__map
			#map
			.wrapper
				.col-phablet-1-2.map
					.contacts
						.contacts__row
							.title Телефон
							.text 
								span + 7 (359) 
								span 223 53 17
							.text 
								span + 7 (359)
								span 223 53 16
						.contacts__row
							.title Адрес
							.text г. Челябинск, ул. Российская 224
						.contacts__row
							.title Прийом абонетново
							.text 9:00 до 17:00, с ПН до ПТ
			.row.clearfix
				.col-phablet-1-2.col-tablet-1-3 Імя
				.col-phablet-1-2.col-tablet-1-3 Телефон
				.col-phablet-1-4
				.col-phablet-1-2.col-tablet-1-3 Оставіть заявкуу
		script(src="js/code.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaO14uZAmmgy_VuPkiwBkDMlMTEtXpz9A&callback=initMap" async defer)
