doctype 
html
	head
		include ./parts/head.pug
	body
		a(href="tel:34567890")
			span (123)
			|21321321
		span.icon.icon_fb
		span.icon.icon_vk
		span.icon.icon_tw
		span.icon.icon_house
		span.icon.icon_zoom
		span.icon.icon_radiator
		span.icon.icon_palitra
		span.icon.icon_solarbat
		span.icon.icon_buildcar
		span.icon.icon_p
		span.icon.icon_pictext
		span.icon.icon_envelope
		span.icon.icon_people
		span.icon.icon_check
		span.icon.icon_marker
		.header
		.section
		.section_grey
		.section.section_grey
    .section_grey
		.wrapper
			.row.clearfix
				.col-phablet-1-2.col-tablet-1-3 10000 проектов за 7 Лет
				.col-phablet-1-2.col-tablet-1-3 Допуск СПО
				.col-phablet-1-4
				.col-phablet-1-2.col-tablet-1-3 Крупние заказчики
			.row.clearfix
				.col-phablet-1-2.col-tablet-1-3 Імя
				.col-phablet-1-2.col-tablet-1-3 Телефон
				.col-phablet-1-4
				.col-phablet-1-2.col-tablet-1-3 Оставіть заявку
        .col-phablet-1-4
			.row.clearfix
				.col-phablet-1-2.col-tablet-1-5 logo заказчиків 
				.col-phablet-1-2.col-tablet-1-5 logo заказчиків
				.col-phablet-1-2.col-tablet-1-5 logo заказчиків
				.col-phablet-1-2.col-tablet-1-5 logo заказчиків
				.col-phablet-1-4.show-phablet
				.col-phablet-1-2.col-tablet-1-5 logo заказчиків
			.row.clearfix
				.col-phablet-1-3 Жилой дом
				.col-phablet-1-3 Обществинное здание
				.col-phablet-1-3 сооружение
			.row.clearfix
				.col-phablet-1-2 Проектирование
				.col-phablet-1-2 Контент іконок
					.row.clearfix
						.col-phablet-1-2.col-tablet-1-4 Прайс
						.col-phablet-1-2.col-tablet-1-4 Статьї
						.col-phablet-1-2.col-tablet-1-4 Закази
						.col-phablet-1-2.col-tablet-1-4 Отзиви
			.row.clearfix
				.col-phablet-1-2 Контент Іконок
					.row.clearfix
						.col-phablet-1-2.col-tablet-1-4 Прайс
						.col-phablet-1-2.col-tablet-1-4 Статьї
						.col-phablet-1-2.col-tablet-1-4 Закази
						.col-phablet-1-2.col-tablet-1-4 Отзиви	
				.col-phablet-1-2 Обследувание
			.row.clearfix
				.col-phablet-1-2 Проекти планировок
				.col-phablet-1-2 Контент іконок
					.row.clearfix
						.col-phablet-1-2.col-tablet-1-4 Прайс
						.col-phablet-1-2.col-tablet-1-4 Статьї
						.col-phablet-1-2.col-tablet-1-4 Закази
						.col-phablet-1-2.col-tablet-1-4 Отзиви		
			.row.clearfix
				.col-phablet-1-2 Контент Іконок
					.row.clearfix
						.col-phablet-1-2.col-tablet-1-4 Прайс
						.col-phablet-1-2.col-tablet-1-4 Статьї
						.col-phablet-1-2.col-tablet-1-4 Закази
						.col-phablet-1-2.col-tablet-1-4 Отзиви	
				.col-phablet-1-2 Дизайн проекти	
			.row.clearfix
				.col-phablet-1-2 Проекти планировок територии
				.col-phablet-1-2 Контент іконок
					.row.clearfix
						.col-phablet-1-2.col-tablet-1-4 Прайс
						.col-phablet-1-2.col-tablet-1-4 Статьї
						.col-phablet-1-2.col-tablet-1-4 Закази
						.col-phablet-1-2.col-tablet-1-4 Отзиви	
			.row.clearfix
				.col-phablet-1-2 Контент Іконок
					.row.clearfix
						.col-phablet-1-2.col-tablet-1-4 Прайс
						.col-phablet-1-2.col-tablet-1-4 Статьї
						.col-phablet-1-2.col-tablet-1-4 Закази
						.col-phablet-1-2.col-tablet-1-4 Отзиви	
				.col-phablet-1-2 Строительство
			.portfolio
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-3 portfolio 
					.col-phablet-1-2.col-tablet-1-3 portfolio
					.col-phablet-1-2.col-tablet-1-3 portfolio
					.col-phablet-1-2.col-tablet-1-3 portfolio
					.col-phablet-1-2.col-tablet-1-3 portfolio
					.col-phablet-1-2.col-tablet-1-3 portfolio
			.clearfix
			.row.clearfix
				.col-phablet-1-2.col-tablet-1-5 logo заказчиків 
				.col-phablet-1-2.col-tablet-1-5 logo заказчиків
				.col-phablet-1-2.col-tablet-1-5 logo заказчиків
				.col-phablet-1-2.col-tablet-1-5 logo заказчиків
				.col-phablet-1-4.show-phablet
				.col-phablet-1-2.col-tablet-1-5 logo заказчиків	
			.row.clearfix
				.col-phablet-1-3 Жилой дом
				.col-phablet-1-3 Общестивиное здание
				.col-phablet-1-3 Соорожение
			.row.clearfix
				.col-phablet-1-3 Площадь
				.col-phablet-1-3 Етаж
				.col-phablet-1-3 Висота етажа
			.row.clearfix
				.col-phablet-1-2.col-tablet-1-3 Імя
				.col-phablet-1-2.col-tablet-1-3 Телефон
				.col-phablet-1-4
				.col-phablet-1-2.col-tablet-1-3 Оставіть заявку
			.row.clearfix
				.col-phablet-1-2 гарантии качестинной роботи
				.col-phablet-1-2 гарантии качестинной роботи
			.row.clearfix
				.col-phablet-1-2.col-tablet-1-3 Імя
				.col-phablet-1-2.col-tablet-1-3 Телефон
				.col-phablet-1-4
				.col-phablet-1-2.col-tablet-1-3 Оставіть заявкуу

