doctype
html
	head
		link(rel='stylesheet',href='css/style.css')
	body
		-var labels = ['Внесение изменений в проект в случае необходимости','Ответственность компании застрахована на 10 000 000', 'Квалифицированные специалисты', 'Консультационная поддержка на стадии строительных работ','Внесение изменений в проект в случае необходимости','Гарантии на проект']
.wrapper
	.row
		each label in labels
			.col-tablet-1-2.label-wrap
				.label
					.label__icon
						span
					.label__text
						| #{label}