doctype 
html
	head
		title Apriori
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		link(rel='stylesheet', href="css/grid.css")
		link(rel='stylesheet', href="css/icons.css")
		link(rel='stylesheet', href="css/forms.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css")
		//for jquery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		//for fansybox JS
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js")
		//script(src='js/*.js')	
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	body
		.row.clearfix
			.col-phablet-1-2.col-tablet-1-4 Aпріорі строй
			.col-phablet-1-2
			.col-phablet-1-2.col-tablet-1-4.pull-right № тел.
			.col-phablet-1-2.col-tablet-1-4.pull-right № тел.
			.col-phablet-1-2.col-tablet-1-4.pull-right Контакти
		.wrapper.clearfix
				.buttons
					a.btn.btn-services(href="")  услуги
					a.btn.btn-portfolio(href="") портфолио
		.row.clearfix
			.col-phablet-1-2.col-tablet-1-3 10000 проектов за 7 Лет
			.col-phablet-1-2.col-tablet-1-3 Допуск СПО
			.centre-phablet
			.col-phablet-1-2.col-tablet-1-3 Крупние заказчики
		.row.clearfix
			.col-phablet-1-2.col-tablet-1-3 Імя
			.col-phablet-1-2.col-tablet-1-3 Телефон
			.centre-phablet 
			.col-phablet-1-2.col-tablet-1-3 Оставіть заявку
		.row.clearfix
			.col-phablet-1-2.col-tablet-1-5 logo заказчиків 
			.col-phablet-1-2.col-tablet-1-5 logo заказчиків
			.col-phablet-1-2.col-tablet-1-5 logo заказчиків
			.col-phablet-1-2.col-tablet-1-5 logo заказчиків
			.centre-phablet
			.col-phablet-1-2.col-tablet-1-5 logo заказчиків
		.row.clearfix
			.col-phablet-1-3 Жилой дом
			.col-phablet-1-3 Обществинное здание
			.col-phablet-1-3 сооружение
		.row.clearfix
			.col-phablet-1-2 Проектирование
			.col-phablet-1-2 
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4.icon_price
						a(href='#') Прайс
					.col-phablet-1-2.col-tablet-1-4.icon_articles  
						a(href='#') Статьї
					.col-phablet-1-2.col-tablet-1-4.icon_order
						a(href='#') Закази
					.col-phablet-1-2.col-tablet-1-4.icon_reviews
						a(href='#') Отзиви
		.row.clearfix
			.col-phablet-1-2 
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4.icon_price
						a(href='#') Прайс
					.col-phablet-1-2.col-tablet-1-4.icon_articles  
						a(href='#') Статьї
					.col-phablet-1-2.col-tablet-1-4.icon_order
						a(href='#') Закази
					.col-phablet-1-2.col-tablet-1-4.icon_reviews
						a(href='#') Отзиви	
			.col-phablet-1-2 Обследувание
		.row.clearfix
			.col-phablet-1-2 Проекти планировок
			.col-phablet-1-2 
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4.icon_price
						a(href='#') Прайс
					.col-phablet-1-2.col-tablet-1-4.icon_articles  
						a(href='#') Статьї
					.col-phablet-1-2.col-tablet-1-4.icon_order
						a(href='#') Закази
					.col-phablet-1-2.col-tablet-1-4.icon_reviews
						a(href='#') Отзиви		
		.row.clearfix
			.col-phablet-1-2 
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4.icon_price
						a(href='#') Прайс
					.col-phablet-1-2.col-tablet-1-4.icon_articles  
						a(href='#') Статьї
					.col-phablet-1-2.col-tablet-1-4.icon_order
						a(href='#') Закази
					.col-phablet-1-2.col-tablet-1-4.icon_reviews
						a(href='#') Отзиви	
			.col-phablet-1-2 Дизайн проекти	
		.row.clearfix
			.col-phablet-1-2 Проекти планировок територии
			.col-phablet-1-2 
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4.icon_price
						a(href='#') Прайс
					.col-phablet-1-2.col-tablet-1-4.icon_articles  
						a(href='#') Статьї
					.col-phablet-1-2.col-tablet-1-4.icon_order
						a(href='#') Закази
					.col-phablet-1-2.col-tablet-1-4.icon_reviews
						a(href='#') Отзиви	
		.row.clearfix
			.col-phablet-1-2 
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4.icon_price
						a(href='#') Прайс
					.col-phablet-1-2.col-tablet-1-4.icon_articles  
						a(href='#') Статьї
					.col-phablet-1-2.col-tablet-1-4.icon_order
						a(href='#') Закази
					.col-phablet-1-2.col-tablet-1-4.icon_reviews
						a(href='#') Отзиви	
			.col-phablet-1-2 Строительство
		.portfolio
			.row.clearfix
				.col-phablet-1-2.col-tablet-1-3 portfolio 
				.col-phablet-1-2.col-tablet-1-3 portfolio
				.col-phablet-1-2.col-tablet-1-3 portfolio
				.col-phablet-1-2.col-tablet-1-3 portfolio
				.col-phablet-1-2.col-tablet-1-3 portfolio
				.col-phablet-1-2.col-tablet-1-3 portfolio
		.clearfix
		.row.clearfix
			.col-phablet-1-2.col-tablet-1-5 logo заказчиків 
			.col-phablet-1-2.col-tablet-1-5 logo заказчиків
			.col-phablet-1-2.col-tablet-1-5 logo заказчиків
			.col-phablet-1-2.col-tablet-1-5 logo заказчиків
			.centre-phablet
			.col-phablet-1-2.col-tablet-1-5 logo заказчиків	
		.row.clearfix
			.col-phablet-1-3 Жилой дом
			.col-phablet-1-3 Общестивиное здание
			.col-phablet-1-3 Соорожение
		.row.clearfix
			.col-phablet-1-3 Площадь
			.col-phablet-1-3 Етаж
			.col-phablet-1-3 Висота етажа
		.row.clearfix
			.col-phablet-1-2.col-tablet-1-3 Імя
			.col-phablet-1-2.col-tablet-1-3 Телефон
			.centre-phablet 
			.col-phablet-1-2.col-tablet-1-3 Оставіть заявку
		.row.clearfix
			.col-phablet-1-2.icon_check
				a(href='#') гарантии качестинной роботи
			.col-phablet-1-2.icon_check
				a(href='#') гарантии качестинной роботи
			.icon_marker
				a(href='#')
		.row.clearfix
			include parts/questionnaire_form.pug
			include parts/forms.pug
			.centre-phablet 
			.col-phablet-1-2.col-tablet-1-3 Оставіть заявку