doctype 
html
	head
		include ./parts/head.pug
	body
		img(src="images/apriory_logo.jpg")
		a.phones(href="tel:3512235317")
			span (351) 
			span 223-53-17
		a.phones(href="tel:3512235316")
			span (351)
			span 223-53-16	
		span.adress г. Челябинск,ул. Российская 224

