doctype 
html
	head
		include ./parts/head.pug
	body
		.wrapper
			.wrapper_promotion
				.promotion
					span  Акція!
				.promo__content
					span Проект перепланировки в подарок!
					span * ( при единовременном заказе боле чем на 50 000 р.) 