doctype 
html
	head
		title Apriori
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='css/grid.css')
		link(rel='stylesheet', href='css/icons.css')
		link(rel='stylesheet', href='css/forms.css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css")
		//for jquery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		//for fansybox JS
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js")
		//script(src='js/*.js')	
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	body
		.row.clearfix.wrapper.header
			.col-phablet-1-2.col-tablet-1-5
				a(href="#")
					img(src="images/aprirory-logo.png", alt="logo")
			.col-phablet-1-2.col-tablet-1-5
				|
			.col-phablet-1-2.col-tablet-1-5.pull-right
				.header-address
					|г. Челябинск, #[br]ул. Российская 224
			.col-phablet-1-2.col-tablet-1-5.pull-right
				.header-tell
					|(351) #[span.tell 223-53-16]
			.col-phablet-1-2.col-tablet-1-5.pull-right
				.header-tell
					|(351) #[span.tell 223-53-17]
		.banner_people
			.wrapper.clearfix
					.buttons
						a.btn.btn-services(href="#")  услуги
						a.btn.btn-portfolio(href="#") портфолио
					.social
						.social-circle
							a(href="#")
								i.icon_fb
						.social-circle
							a(href="#")
								i.icon_vk
						.social-circle
							a(href="#")
								i.icon_tw
		.advantages
			.title
				|наши #[span приемущества]
			.row.clearfix.wrapper
					.col-phablet-1-2.col-tablet-1-3 
						.adv_title
							|#[sapn.blue 1000] проектов за #[span.red 7] Лет!
						p Более 1000 проектов за 7 лет по всей России и СНГ
					.col-phablet-1-2.col-tablet-1-3 
						.adv_title
							|Допуск #[span.blue2 СРО]
						p Имеется допуск генерального проектировщика СРО на работы по проектированию и обследованию. Ответственность компании застрахована на 1 0 000 000 руб.
					.centre-phablet
					.col-phablet-1-2.col-tablet-1-3
						.adv_title
							|#[span.blue3 КРУПНЫЕ] заказчики
						p Сбербанк, РЖД, Банки, прави-тельственные структуры.
			.wrapper.services
						.ser_col
							i.icon_designing
							.subtitle ПРОЕКТИРОВАНИE
						.ser_col
							i.icon_investigation
							.subtitle Обследование	
						.ser_col
							i.icon_thermal
							.subtitle Тепловизионное #[br]Обследование
						.ser_col
							i.icon_design
							.subtitle Дизайн проекты
						.ser_col
							i.icon_solar
							.subtitle Солнечные батареи
						.ser_col
							i.icon_construction
							.subtitle Строительство
		.red_line
				|Акция!
		.blue_line
				|Проект перепланировки в подарок!#[span * ( при единовременном заказе боле чем на 50 000 р.)]	
		.row.clearfix.wrapper.action
			.col-phablet-1-2.col-tablet-1-3 
				input(type="text", placeholder="Имя...")
			.col-phablet-1-2.col-tablet-1-3 
				input(type="text", placeholder="Телефон...") 
			.centre-phablet 
			.col-phablet-1-2.col-tablet-1-3 
				a.btn.btn-application(href="#") оставить заявку
		.row.clearfix.customers.wrapper
			.title
				|заказчики
			.col-phablet-1-2.col-tablet-1-5
				i.icon_customers.customer1
			.col-phablet-1-2.col-tablet-1-5
				i.icon_customers.customer2
			.col-phablet-1-2.col-tablet-1-5
				i.icon_customers.customer3
			.col-phablet-1-2.col-tablet-1-5
				i.icon_customers.customer4
			.centre-phablet
			.col-phablet-1-2.col-tablet-1-5
				i.icon_customers.customer5
		.row.clearfix
			.col-phablet-1-3 Жилой дом
			.col-phablet-1-3 Обществинное здание
			.col-phablet-1-3 сооружение
		.row.clearfix
			.col-phablet-1-2 Проектирование
			.col-phablet-1-2 
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4.icon_price
						a(href='#') Прайс
					.col-phablet-1-2.col-tablet-1-4.icon_articles  
						a(href='#') Статьї
					.col-phablet-1-2.col-tablet-1-4.icon_order
						a(href='#') Закази
					.col-phablet-1-2.col-tablet-1-4.icon_reviews
						a(href='#') Отзиви
		.row.clearfix
			.col-phablet-1-2 
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4.icon_price
						a(href='#') Прайс
					.col-phablet-1-2.col-tablet-1-4.icon_articles  
						a(href='#') Статьї
					.col-phablet-1-2.col-tablet-1-4.icon_order
						a(href='#') Закази
					.col-phablet-1-2.col-tablet-1-4.icon_reviews
						a(href='#') Отзиви	
			.col-phablet-1-2 Обследувание
		.row.clearfix
			.col-phablet-1-2 Проекти планировок
			.col-phablet-1-2 
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4.icon_price
						a(href='#') Прайс
					.col-phablet-1-2.col-tablet-1-4.icon_articles  
						a(href='#') Статьї
					.col-phablet-1-2.col-tablet-1-4.icon_order
						a(href='#') Закази
					.col-phablet-1-2.col-tablet-1-4.icon_reviews
						a(href='#') Отзиви		
		.row.clearfix
			.col-phablet-1-2 
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4.icon_price
						a(href='#') Прайс
					.col-phablet-1-2.col-tablet-1-4.icon_articles  
						a(href='#') Статьї
					.col-phablet-1-2.col-tablet-1-4.icon_order
						a(href='#') Закази
					.col-phablet-1-2.col-tablet-1-4.icon_reviews
						a(href='#') Отзиви	
			.col-phablet-1-2 Дизайн проекти	
		.row.clearfix
			.col-phablet-1-2 Проекти планировок територии
			.col-phablet-1-2 
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4.icon_price
						a(href='#') Прайс
					.col-phablet-1-2.col-tablet-1-4.icon_articles  
						a(href='#') Статьї
					.col-phablet-1-2.col-tablet-1-4.icon_order
						a(href='#') Закази
					.col-phablet-1-2.col-tablet-1-4.icon_reviews
						a(href='#') Отзиви	
		.row.clearfix
			.col-phablet-1-2 
				.row.clearfix
					.col-phablet-1-2.col-tablet-1-4.icon_price
						a(href='#') Прайс
					.col-phablet-1-2.col-tablet-1-4.icon_articles  
						a(href='#') Статьї
					.col-phablet-1-2.col-tablet-1-4.icon_order
						a(href='#') Закази
					.col-phablet-1-2.col-tablet-1-4.icon_reviews
						a(href='#') Отзиви	
			.col-phablet-1-2 Строительство
		.portfolio
			.row.clearfix
				.col-phablet-1-2.col-tablet-1-3 portfolio 
				.col-phablet-1-2.col-tablet-1-3 portfolio
				.col-phablet-1-2.col-tablet-1-3 portfolio
				.col-phablet-1-2.col-tablet-1-3 portfolio
				.col-phablet-1-2.col-tablet-1-3 portfolio
				.col-phablet-1-2.col-tablet-1-3 portfolio
		.clearfix
		.row.clearfix.customers.wrapper
			.title
				|заказчики
			.col-phablet-1-2.col-tablet-1-5
				i.icon_customers.customer1
			.col-phablet-1-2.col-tablet-1-5
				i.icon_customers.customer2
			.col-phablet-1-2.col-tablet-1-5
				i.icon_customers.customer3
			.col-phablet-1-2.col-tablet-1-5
				i.icon_customers.customer4
			.centre-phablet
			.col-phablet-1-2.col-tablet-1-5
				i.icon_customers.customer5
		.row.clearfix
			.col-phablet-1-3 Жилой дом
			.col-phablet-1-3 Общестивиное здание
			.col-phablet-1-3 Соорожение
		.row.clearfix
			.col-phablet-1-3 Площадь
			.col-phablet-1-3 Етаж
			.col-phablet-1-3 Висота етажа
		.row.clearfix
			.col-phablet-1-2.col-tablet-1-3 Імя
			.col-phablet-1-2.col-tablet-1-3 Телефон
			.centre-phablet 
			.col-phablet-1-2.col-tablet-1-3 Оставіть заявку
		.row.clearfix
			.col-phablet-1-2.icon_check
				a(href='#') гарантии качестинной роботи
			.col-phablet-1-2.icon_check
				a(href='#') гарантии качестинной роботи
			.icon_marker
				a(href='#')
		.row.clearfix
			include parts/forms.pug
			.centre-phablet 
			.col-phablet-1-2.col-tablet-1-3 Оставіть заявку